<form class="{{cssClass}}" autocomplete="off">

  <!-- HEADER -->
  <header class="sheet-header">
    <img class="profile-img"
         src="{{actor.img}}"
         data-edit="img"
         title="{{actor.name}}"
         height="100"
         width="100"/>

    <div class="header-fields">
      <h1 class="charname">
        <input name="name" type="text" value="{{actor.name}}" placeholder="Character Name"/>
      </h1>

      <div class="resources">
        <div class="resource">
          <label>Health</label>
          <input type="number" name="system.health" value="{{system.health}}" />
        </div>

        <div class="resource">
          <label>Mental</label>
          <input type="number" name="system.mental" value="{{system.mental}}" />
        </div>

        <div class="resource">
          <label>Level</label>
          <input type="number" name="system.level" value="{{system.level}}" />
        </div>

        <div class="resource">
          <label>EXP</label>
          <input type="number" name="system.exp" value="{{system.exp}}" />
        </div>

        <div class="resource">
          <label>Will Power</label>
          <input type="number" name="system.wp" value="{{system.wp}}" />
        </div>

        <div class="resource">
          <label>Defense</label>
          <input type="number" name="system.defense" value="{{system.defense}}" />
        </div>
      </div>
    </div>
  </header>

  <!-- TABS -->
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="attributes">Attributes</a>
    <a class="item" data-tab="abilities">Abilities</a>
    <a class="item" data-tab="skills">Skills</a>
    <a class="item" data-tab="equipment">Equipment</a>
    <a class="item" data-tab="biography">Biography</a>
  </nav>

  <section class="sheet-body">

    <!-- ATTRIBUTES -->
    <div class="tab attributes" data-group="primary" data-tab="attributes">

      {{#each system.attributes as |attr key|}}
      <div class="attribute flexrow">
        <label>{{capitalize key}}</label>

        <div class="dice-pool">
          <button type="button" class="dice-control"
                  data-action="decrease"
                  data-target="attributes.{{key}}.dice">-</button>

          <div class="dice-display">
            {{#each (range 1 6) as |i|}}
              <span class="die {{#if (lte i attr.dice)}}filled{{/if}}">●</span>
            {{/each}}
          </div>

          <button type="button" class="dice-control"
                  data-action="increase"
                  data-target="attributes.{{key}}.dice">+</button>
        </div>

        <input type="checkbox"
               name="system.attributes.{{key}}.succeed"
               {{checked attr.succeed}}/>

        <button type="button"
                class="attribute-roll"
                data-attribute="{{key}}">
          🎲 Roll
        </button>
      </div>
      {{/each}}

    </div>

    <!-- ABILITIES -->
    <div class="tab abilities" data-group="primary" data-tab="abilities">

      {{#each system.abilities as |group cat|}}
      <h3>{{capitalize cat}}</h3>

      {{#each group as |ability key|}}
      <div class="ability flexrow">
        <label>{{capitalize key}}</label>

        <div class="dice-pool">
          <button type="button" class="dice-control"
                  data-action="decrease"
                  data-target="abilities.{{cat}}.{{key}}.dice">-</button>

          <div class="dice-display">
            {{#each (range 1 6) as |i|}}
              <span class="die {{#if (lte i ability.dice)}}filled{{/if}}">●</span>
            {{/each}}
          </div>

          <button type="button" class="dice-control"
                  data-action="increase"
                  data-target="abilities.{{cat}}.{{key}}.dice">+</button>
        </div>

        <input type="checkbox"
               name="system.abilities.{{cat}}.{{key}}.succeed"
               {{checked ability.succeed}}/>

        <button type="button"
                class="ability-roll"
                data-category="{{cat}}"
                data-ability="{{key}}">
          🎲 Roll
        </button>
      </div>
      {{/each}}

      {{/each}}

    </div>

    <!-- SKILLS -->
    <div class="tab skills" data-group="primary" data-tab="skills">

      <div class="items-header">
        <div class="item-name">Skill Name</div>
        <div class="item-controls">
          <a class="item-control item-create" data-type="skill">
            ➕ Add Skill
          </a>
        </div>
      </div>

      <ol class="items-list">
        {{#each skills as |skill idx|}}
        <li class="item skill-item">

          <input type="text"
                 name="system.skills.{{idx}}.name"
                 value="{{skill.name}}"
                 placeholder="Skill name"/>

          <textarea name="system.skills.{{idx}}.description">{{skill.description}}</textarea>

          <a class="item-control item-delete" data-index="{{idx}}">
            🗑️
          </a>
        </li>
        {{/each}}
      </ol>

    </div>

    <!-- EQUIPMENT -->
    <div class="tab equipment" data-group="primary" data-tab="equipment">

      <div class="items-header">
        <div class="item-name">Equipment</div>
        <div class="item-controls">
          <a class="item-control item-create" data-type="item">
            ➕ Add Item
          </a>
        </div>
      </div>

      <ol class="items-list">
        {{#each items as |item id|}}
        <li class="item" data-item-id="{{item._id}}">
          <img src="{{item.img}}" width="32" height="32"/>
          <span>{{item.name}}</span>
          <a class="item-control item-edit">✏️</a>
          <a class="item-control item-delete">🗑️</a>
        </li>
        {{/each}}
      </ol>

    </div>

    <!-- BIOGRAPHY -->
    <div class="tab biography" data-group="primary" data-tab="biography">
      <textarea name="system.bio">{{system.bio}}</textarea>
      <textarea name="system.sourceOfWillPower">{{system.sourceOfWillPower}}</textarea>
      <textarea name="system.buff">{{system.buff}}</textarea>
      <textarea name="system.debuff">{{system.debuff}}</textarea>
      <textarea name="system.injuries">{{system.injuries}}</textarea>
      <textarea name="system.flaw">{{system.flaw}}</textarea>
      <textarea name="system.psychiatricDisorder">{{system.psychiatricDisorder}}</textarea>
    </div>

  </section>
</form>
