<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" height="64" width="64" />
    <div class="header-fields">
      <h1 class="charname">
        <input name="name" type="text" value="{{item.name}}" placeholder="Item Name" />
      </h1>
    </div>
  </header>

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">{{localize "ROLEANDROLL.Tabs.Description"}}</a>
    <a class="item" data-tab="details">{{localize "ROLEANDROLL.Tabs.Details"}}</a>
  </nav>

  <section class="sheet-body">
    <div class="tab description" data-group="primary" data-tab="description">
      <div class="form-group">
        <label>{{localize "ROLEANDROLL.Labels.Description"}}</label>
        <textarea name="system.description" rows="10">{{system.description}}</textarea>
      </div>
    </div>

    <div class="tab details" data-group="primary" data-tab="details">
      <div class="form-group">
        <label>{{localize "ROLEANDROLL.Labels.Quantity"}}</label>
        <input type="number" name="system.quantity" value="{{system.quantity}}" min="0" />
      </div>

      <div class="form-group">
        <label>{{localize "ROLEANDROLL.Labels.Weight"}}</label>
        <input type="number" name="system.weight" value="{{system.weight}}" step="0.1" min="0" />
      </div>

      {{#if (eq item.type "equipment")}}
      <div class="form-group">
        <label>{{localize "ROLEANDROLL.Labels.Damage"}}</label>
        <input type="text" name="system.damage" value="{{system.damage}}" placeholder="1d6" />
      </div>

      <div class="form-group">
        <label>{{localize "ROLEANDROLL.Labels.Range"}}</label>
        <input type="text" name="system.range" value="{{system.range}}" placeholder="5 ft" />
      </div>
      {{/if}}
    </div>
  </section>
</form>